body {
width: 60%;
margin: auto;
}

section {
margin: 2em;
}

#menu ul {
list-style: none;
padding: 0;
}

#menu li {
display: inline-block;
margin-right: 2em;
}

#publish {
text-align: center;
}

input {
margin: 1em;
}

#repository {
width: 60%;
}

#toc {
margin: 1em 2em;
}

#toc ul {
list-style: none;
padding: 0;
}

#chart_1 {
height: 320px;
}

#chart_2 {
height: 320px;
}
