{% extends "base.html" %}

{% block main %}
  <section id="about">
    <h1>Ardoise - le projet</h1>
    <p>
    Ardoise est un outil libre permettant à tout un chacun de publier un site statique
    en ligne.
    </p>
    <p>
    Ardoise est un projet né suite au constat qu'énormément de personnes utilisent les
    outils privateurs Github de Microsoft pour publier des blogs personnels, de la
    documentation de projets open-source et d'autres choses encore.
    </p>
    <p>
    Suite à ce constat, le besoin de permettre à ces personnes de s'émanciper de cette
    nasse logicielle a grandi et les idées parfois floues ont abouties à un projet
    concret.
    </p>

    <h1>Contact</h1>
    <p>
    Vous pouvez contacter l'équipe derrière Ardoise en utilisant le mail uniquement pour
    le moment : contact@ardoise.net.
    </p>

  </section>
{% endblock %}
