{% extends "base.html" %}

{% block main %}
  <section id="publish">
    <h1>Publiez votre site en un clic !</h1>
    <form method="post" action="{{ url_for('index') }}">
        <input type="text" name="repository" size="60" placeholder="URL de votre dépôt" value="" autofocus />
        <br />
        <input type="submit" value="Publier mon site" />
    </form>
  </section>

  <section id="explications">
    <h1>Comment ça fonctionne ?</h1>
    <p>
    Ardoise va télécharger le dépôt fourni, l'analyser et générer le site. Puis, Ardoise
    publie le site à une adresse correspondant au nom du dépôt. Par exemple, si le dépôt
    s'appelle "citron", le site sera disponible à l'adresse :
    https://citron.ardoise.net/
    </p>

    <h1>Combien ça coûte ?</h1>
    <p>
    Ardoise est gratuit et ne nécessite pas d'inscription. Vous fournissez un dépôt, le
    site est généré, puis publié pour une durée de 3 mois.
    </p>

    <h1>Que peut-on publier ?</h1>
    <p>
    Ardoise respecte la
    <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164/2023-10-29/">
    Loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique</a> et
    interdit donc les sujets suivants :
    <ul>
        <li>L'apologie, la négation ou la banalisation des crimes contre l'humanité,</li>
        <li>La provocation à la commission d'actes de terrorisme et de leur apologie,</li>
        <li>L'incitation à la haine raciale, à la haine à l'égard de personnes à raison
        de leur sexe, de leur orientation sexuelle, de leur identité de genre ou de leur
        handicap,</li>
        <li>La pornographie enfantine,</li>
        <li>L'incitation à la violence, notamment l'incitation aux violences sexuelles
        et sexistes,</li>
        <li>Les atteintes à la dignité humaine,</li>
    </ul>
    </p>
  </section>
{% endblock %}
